(edif (rename comp12s "COMP12S")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 0 24 15)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell XOR2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell OR2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename comp12s "COMP12S") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port A0 (direction INPUT)
 )
           (port A1 (direction INPUT)
 )
           (port A2 (direction INPUT)
 )
           (port A3 (direction INPUT)
 )
           (port A4 (direction INPUT)
 )
           (port A5 (direction INPUT)
 )
           (port A6 (direction INPUT)
 )
           (port A7 (direction INPUT)
 )
           (port A8 (direction INPUT)
 )
           (port A9 (direction INPUT)
 )
           (port A10 (direction INPUT)
 )
           (port A11 (direction INPUT)
 )
           (port B0 (direction INPUT)
 )
           (port B1 (direction INPUT)
 )
           (port B2 (direction INPUT)
 )
           (port B3 (direction INPUT)
 )
           (port B4 (direction INPUT)
 )
           (port B5 (direction INPUT)
 )
           (port B6 (direction INPUT)
 )
           (port B7 (direction INPUT)
 )
           (port B8 (direction INPUT)
 )
           (port B9 (direction INPUT)
 )
           (port B10 (direction INPUT)
 )
           (port B11 (direction INPUT)
 )
           (port EQ (direction OUTPUT))
         )
         (contents
          (instance eq_NE_3 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_NE_2 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_NE_1 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_11 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_10 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_9 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_8 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_7 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_6 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_5 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_4 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_3 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_2 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_1 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_0 (viewRef PRIM (cellRef XOR2 (libraryRef UNILIB)))          )
          (instance eq_NE (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_NE_10 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_NE_9 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_NE_8 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_NE_7 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_NE_6 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_NE_5 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_NE_4 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance eq_NE_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (net (rename a0 "A0") (joined
           (portRef A0)
           (portRef I0 (instanceRef eq_0))
          ))
          (net (rename a1 "A1") (joined
           (portRef A1)
           (portRef I0 (instanceRef eq_1))
          ))
          (net (rename a2 "A2") (joined
           (portRef A2)
           (portRef I0 (instanceRef eq_2))
          ))
          (net (rename a3 "A3") (joined
           (portRef A3)
           (portRef I0 (instanceRef eq_3))
          ))
          (net (rename a4 "A4") (joined
           (portRef A4)
           (portRef I0 (instanceRef eq_4))
          ))
          (net (rename a5 "A5") (joined
           (portRef A5)
           (portRef I0 (instanceRef eq_5))
          ))
          (net (rename a6 "A6") (joined
           (portRef A6)
           (portRef I0 (instanceRef eq_6))
          ))
          (net (rename a7 "A7") (joined
           (portRef A7)
           (portRef I0 (instanceRef eq_7))
          ))
          (net (rename a8 "A8") (joined
           (portRef A8)
           (portRef I0 (instanceRef eq_8))
          ))
          (net (rename a9 "A9") (joined
           (portRef A9)
           (portRef I0 (instanceRef eq_9))
          ))
          (net (rename a10 "A10") (joined
           (portRef A10)
           (portRef I0 (instanceRef eq_10))
          ))
          (net (rename a11 "A11") (joined
           (portRef A11)
           (portRef I0 (instanceRef eq_11))
          ))
          (net (rename b0 "B0") (joined
           (portRef B0)
           (portRef I1 (instanceRef eq_0))
          ))
          (net (rename b1 "B1") (joined
           (portRef B1)
           (portRef I1 (instanceRef eq_1))
          ))
          (net (rename b2 "B2") (joined
           (portRef B2)
           (portRef I1 (instanceRef eq_2))
          ))
          (net (rename b3 "B3") (joined
           (portRef B3)
           (portRef I1 (instanceRef eq_3))
          ))
          (net (rename b4 "B4") (joined
           (portRef B4)
           (portRef I1 (instanceRef eq_4))
          ))
          (net (rename b5 "B5") (joined
           (portRef B5)
           (portRef I1 (instanceRef eq_5))
          ))
          (net (rename b6 "B6") (joined
           (portRef B6)
           (portRef I1 (instanceRef eq_6))
          ))
          (net (rename b7 "B7") (joined
           (portRef B7)
           (portRef I1 (instanceRef eq_7))
          ))
          (net (rename b8 "B8") (joined
           (portRef B8)
           (portRef I1 (instanceRef eq_8))
          ))
          (net (rename b9 "B9") (joined
           (portRef B9)
           (portRef I1 (instanceRef eq_9))
          ))
          (net (rename b10 "B10") (joined
           (portRef B10)
           (portRef I1 (instanceRef eq_10))
          ))
          (net (rename b11 "B11") (joined
           (portRef B11)
           (portRef I1 (instanceRef eq_11))
          ))
          (net (rename eq "EQ") (joined
           (portRef O (instanceRef eq_NE_i))
           (portRef EQ)
          ))
          (net (rename eqZ0Z_4 "eq_4") (joined
           (portRef O (instanceRef eq_4))
           (portRef I0 (instanceRef eq_NE_3))
          ))
          (net (rename eqZ0Z_5 "eq_5") (joined
           (portRef O (instanceRef eq_5))
           (portRef I1 (instanceRef eq_NE_3))
          ))
          (net (rename eq_NEZ0Z_3 "eq_NE_3") (joined
           (portRef O (instanceRef eq_NE_3))
           (portRef I0 (instanceRef eq_NE_8))
          ))
          (net (rename eqZ0Z_2 "eq_2") (joined
           (portRef O (instanceRef eq_2))
           (portRef I0 (instanceRef eq_NE_2))
          ))
          (net (rename eqZ0Z_3 "eq_3") (joined
           (portRef O (instanceRef eq_3))
           (portRef I1 (instanceRef eq_NE_2))
          ))
          (net (rename eq_NEZ0Z_2 "eq_NE_2") (joined
           (portRef O (instanceRef eq_NE_2))
           (portRef I1 (instanceRef eq_NE_7))
          ))
          (net (rename eqZ0Z_0 "eq_0") (joined
           (portRef O (instanceRef eq_0))
           (portRef I0 (instanceRef eq_NE_1))
          ))
          (net (rename eqZ0Z_1 "eq_1") (joined
           (portRef O (instanceRef eq_1))
           (portRef I1 (instanceRef eq_NE_1))
          ))
          (net (rename eq_NEZ0Z_1 "eq_NE_1") (joined
           (portRef O (instanceRef eq_NE_1))
           (portRef I0 (instanceRef eq_NE_7))
          ))
          (net (rename eqZ0Z_11 "eq_11") (joined
           (portRef O (instanceRef eq_11))
           (portRef I1 (instanceRef eq_NE_6))
          ))
          (net (rename eqZ0Z_10 "eq_10") (joined
           (portRef O (instanceRef eq_10))
           (portRef I0 (instanceRef eq_NE_6))
          ))
          (net (rename eqZ0Z_9 "eq_9") (joined
           (portRef O (instanceRef eq_9))
           (portRef I1 (instanceRef eq_NE_5))
          ))
          (net (rename eqZ0Z_8 "eq_8") (joined
           (portRef O (instanceRef eq_8))
           (portRef I0 (instanceRef eq_NE_5))
          ))
          (net (rename eqZ0Z_7 "eq_7") (joined
           (portRef O (instanceRef eq_7))
           (portRef I1 (instanceRef eq_NE_4))
          ))
          (net (rename eqZ0Z_6 "eq_6") (joined
           (portRef O (instanceRef eq_6))
           (portRef I0 (instanceRef eq_NE_4))
          ))
          (net (rename eq_NEZ0Z_10 "eq_NE_10") (joined
           (portRef O (instanceRef eq_NE_10))
           (portRef I0 (instanceRef eq_NE))
          ))
          (net (rename eq_NEZ0Z_9 "eq_NE_9") (joined
           (portRef O (instanceRef eq_NE_9))
           (portRef I1 (instanceRef eq_NE))
          ))
          (net (rename eq_NEZ0 "eq_NE") (joined
           (portRef O (instanceRef eq_NE))
           (portRef I (instanceRef eq_NE_i))
          ))
          (net (rename eq_NEZ0Z_7 "eq_NE_7") (joined
           (portRef O (instanceRef eq_NE_7))
           (portRef I0 (instanceRef eq_NE_10))
          ))
          (net (rename eq_NEZ0Z_8 "eq_NE_8") (joined
           (portRef O (instanceRef eq_NE_8))
           (portRef I1 (instanceRef eq_NE_10))
          ))
          (net (rename eq_NEZ0Z_5 "eq_NE_5") (joined
           (portRef O (instanceRef eq_NE_5))
           (portRef I0 (instanceRef eq_NE_9))
          ))
          (net (rename eq_NEZ0Z_6 "eq_NE_6") (joined
           (portRef O (instanceRef eq_NE_6))
           (portRef I1 (instanceRef eq_NE_9))
          ))
          (net (rename eq_NEZ0Z_4 "eq_NE_4") (joined
           (portRef O (instanceRef eq_NE_4))
           (portRef I1 (instanceRef eq_NE_8))
          ))
         )
       )
    )
  )
  (design (rename comp12s "COMP12S") (cellRef comp12s (libraryRef work))
	(property PART (string "xc2c256-5-vq100") (owner "Xilinx")))
)
