(edif (rename d2_4es "D2_4ES")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 0 27 29)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell AND2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename d2_4es "D2_4ES") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port E (direction INPUT)
 )
           (port A0 (direction INPUT)
 )
           (port A1 (direction INPUT)
 )
           (port D0 (direction OUTPUT))
           (port D1 (direction OUTPUT))
           (port D2 (direction OUTPUT))
           (port D3 (direction OUTPUT))
         )
         (contents
          (instance (rename d_0_a2_0_1 "d_0_a2_0[1]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_0_0 "d_0_a2_0[0]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_3 "d_0_a2[3]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_2 "d_0_a2[2]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_1 "d_0_a2[1]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_0 "d_0_a2[0]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance A1_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance A0_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (net (rename e "E") (joined
           (portRef E)
           (portRef I1 (instanceRef d_0_a2_0_0))
           (portRef I1 (instanceRef d_0_a2_0_1))
          ))
          (net (rename a0 "A0") (joined
           (portRef A0)
           (portRef I (instanceRef A0_i))
           (portRef I0 (instanceRef d_0_a2_0_1))
          ))
          (net (rename a1 "A1") (joined
           (portRef A1)
           (portRef I (instanceRef A1_i))
           (portRef I0 (instanceRef d_0_a2_2))
           (portRef I0 (instanceRef d_0_a2_3))
          ))
          (net (rename d0 "D0") (joined
           (portRef O (instanceRef d_0_a2_0))
           (portRef D0)
          ))
          (net (rename d1 "D1") (joined
           (portRef O (instanceRef d_0_a2_1))
           (portRef D1)
          ))
          (net (rename d2 "D2") (joined
           (portRef O (instanceRef d_0_a2_2))
           (portRef D2)
          ))
          (net (rename d3 "D3") (joined
           (portRef O (instanceRef d_0_a2_3))
           (portRef D3)
          ))
          (net (rename d_0_a2_0_n_1 "d_0_a2_0_n(1)") (joined
           (portRef O (instanceRef d_0_a2_0_1))
           (portRef I1 (instanceRef d_0_a2_1))
           (portRef I1 (instanceRef d_0_a2_3))
          ))
          (net (rename A0_iZ0 "A0_i") (joined
           (portRef O (instanceRef A0_i))
           (portRef I0 (instanceRef d_0_a2_0_0))
          ))
          (net (rename d_0_a2_0_n_0 "d_0_a2_0_n(0)") (joined
           (portRef O (instanceRef d_0_a2_0_0))
           (portRef I1 (instanceRef d_0_a2_0))
           (portRef I1 (instanceRef d_0_a2_2))
          ))
          (net (rename A1_iZ0 "A1_i") (joined
           (portRef O (instanceRef A1_i))
           (portRef I0 (instanceRef d_0_a2_0))
           (portRef I0 (instanceRef d_0_a2_1))
          ))
         )
       )
    )
  )
  (design (rename d2_4es "D2_4ES") (cellRef d2_4es (libraryRef work))
	(property PART (string "xc2c256-5-vq100") (owner "Xilinx")))
)
