NET "HA2" LOC=P28;
NET "HA3" LOC=P29;
NET "HA4" LOC=P30;
NET "HA5" LOC=P31;
NET "HA6" LOC=P32;
NET "HA7" LOC=P34;
NET "HA8" LOC=P35;
NET "HA9" LOC=P36;
NET "HA10" LOC=P37;
NET "HA11" LOC=P38;
NET "HA12" LOC=P39;
NET "HA13" LOC=P54;
NET "HA14" LOC=P56;
NET "HA15" LOC=P57;
NET "HA16" LOC=P58;
NET "HA17" LOC=P60;
NET "HA18" LOC=P61;
NET "HA19" LOC=P62;
NET "HA20" LOC=P63;
NET "HA21" LOC=P65;
NET "HA22" LOC=P64;
NET "HA23" LOC=P67;
NET "HA24" LOC=P66;
NET "HA25" LOC=P70;
NET "HA26" LOC=P69;
NET "HA27" LOC=P72;
NET "HA28" LOC=P71;
NET "HA29" LOC=P74;
NET "HA30" LOC=P73;
NET "HA31" LOC=P76;
NET "HA32" LOC=P75;
NET "HA33" LOC=P78;
NET "HA34" LOC=P77;
NET "LEDS0" LOC=P185;
NET "LEDS1" LOC=P184;
NET "PD193" LOC=P138;
NET "PD194" LOC=P137;
NET "PD195" LOC=P136;
NET "PD196" LOC=P135;
NET "PD197" LOC=P134;
NET "PD198" LOC=P131;
