(edif (rename buf8s "BUF8S")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 13 8 42)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename buf8s "BUF8S") (cellType GENERIC)
       (view structure (viewType NETLIST)
         (interface
           (port I0 (direction INPUT)
 )
           (port I1 (direction INPUT)
 )
           (port I2 (direction INPUT)
 )
           (port I3 (direction INPUT)
 )
           (port I4 (direction INPUT)
 )
           (port I5 (direction INPUT)
 )
           (port I6 (direction INPUT)
 )
           (port I7 (direction INPUT)
 )
           (port O0 (direction OUTPUT))
           (port O1 (direction OUTPUT))
           (port O2 (direction OUTPUT))
           (port O3 (direction OUTPUT))
           (port O4 (direction OUTPUT))
           (port O5 (direction OUTPUT))
           (port O6 (direction OUTPUT))
           (port O7 (direction OUTPUT))
         )
         (contents
          (net (rename o0 "O0") (joined
           (portRef I0)
           (portRef O0)
          ))
          (net (rename o1 "O1") (joined
           (portRef I1)
           (portRef O1)
          ))
          (net (rename o2 "O2") (joined
           (portRef I2)
           (portRef O2)
          ))
          (net (rename o3 "O3") (joined
           (portRef I3)
           (portRef O3)
          ))
          (net (rename o4 "O4") (joined
           (portRef I4)
           (portRef O4)
          ))
          (net (rename o5 "O5") (joined
           (portRef I5)
           (portRef O5)
          ))
          (net (rename o6 "O6") (joined
           (portRef I6)
           (portRef O6)
          ))
          (net (rename o7 "O7") (joined
           (portRef I7)
           (portRef O7)
          ))
         )
       )
    )
  )
  (design (rename buf8s "BUF8S") (cellRef buf8s (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
