NET "A0" LOC=P47;
NET "A1" LOC=P48;
NET "A2" LOC=P49;
NET "A3" LOC=P50;
NET "A4" LOC=P45;
NET "A5" LOC=P41;
NET "B0" LOC=P5;
NET "B1" LOC=P56;
NET "DIN" LOC=P60;
NET "DIN_FPGA" LOC=P52;
NET "DOUT" LOC=P67;
NET "DOUT_0" LOC=P36;
NET "DOUT_1" LOC=P42;
NET "DOUT_2" LOC=P58;
NET "DOUT_3" LOC=P69;
NET "DOUT_4" LOC=P72;
NET "DOUT_5" LOC=P77;
NET "DOUT_6" LOC=P80;
NET "DOUT_7" LOC=P84;
NET "SCLK" LOC=P61;
NET "SCLK_FPGA" LOC=P53;
NET "START" LOC=P55;
NET "START_0" LOC=P35;
NET "START_1" LOC=P40;
NET "START_2" LOC=P46;
NET "START_3" LOC=P64;
NET "START_4" LOC=P71;
NET "START_5" LOC=P76;
NET "START_6" LOC=P79;
NET "START_7" LOC=P83;
NET "TCK" LOC=P62;
NET "TDI" LOC=P4;
NET "TDO" LOC=P73;
NET "TMS" LOC=P15;
NET "WSTRB" LOC=P65;
NET "X_CS_0" LOC=P33;
NET "X_CS_1" LOC=P37;
NET "X_CS_2" LOC=P44;
NET "X_CS_3" LOC=P63;
NET "X_CS_4" LOC=P70;
NET "X_CS_5" LOC=P75;
NET "X_CS_6" LOC=P78;
NET "X_CS_7" LOC=P81;
NET "X_CS_8" LOC=P85;
NET "X_CS_9" LOC=P98;
NET "X_CS_10" LOC=P1;
NET "X_CS_11" LOC=P21;
NET "X_LVSHDN_0" LOC=P96;
NET "X_LVSHDN_1" LOC=P94;
NET "X_LVSHDN_2" LOC=P93;
NET "X_LVSHDN_3" LOC=P92;
NET "X_RESET" LOC=P57;
NET "X_RESET_FPGA" LOC=P68;
NET "X_SHDN" LOC=P54;
