(edif (rename inv16s "INV16S")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 13 51 7)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename inv16s "INV16S") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port I0 (direction INPUT)
 )
           (port I1 (direction INPUT)
 )
           (port I2 (direction INPUT)
 )
           (port I3 (direction INPUT)
 )
           (port I4 (direction INPUT)
 )
           (port I5 (direction INPUT)
 )
           (port I6 (direction INPUT)
 )
           (port I7 (direction INPUT)
 )
           (port I8 (direction INPUT)
 )
           (port I9 (direction INPUT)
 )
           (port I10 (direction INPUT)
 )
           (port I11 (direction INPUT)
 )
           (port I12 (direction INPUT)
 )
           (port I13 (direction INPUT)
 )
           (port I14 (direction INPUT)
 )
           (port I15 (direction INPUT)
 )
           (port O0 (direction OUTPUT))
           (port O1 (direction OUTPUT))
           (port O2 (direction OUTPUT))
           (port O3 (direction OUTPUT))
           (port O4 (direction OUTPUT))
           (port O5 (direction OUTPUT))
           (port O6 (direction OUTPUT))
           (port O7 (direction OUTPUT))
           (port O8 (direction OUTPUT))
           (port O9 (direction OUTPUT))
           (port O10 (direction OUTPUT))
           (port O11 (direction OUTPUT))
           (port O12 (direction OUTPUT))
           (port O13 (direction OUTPUT))
           (port O14 (direction OUTPUT))
           (port O15 (direction OUTPUT))
         )
         (contents
          (instance I15_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I14_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I13_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I12_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I11_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I10_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I9_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I8_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I7_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I6_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I5_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I4_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I3_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I2_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I1_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance I0_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (net (rename i0 "I0") (joined
           (portRef I0)
           (portRef I (instanceRef I0_i))
          ))
          (net (rename i1 "I1") (joined
           (portRef I1)
           (portRef I (instanceRef I1_i))
          ))
          (net (rename i2 "I2") (joined
           (portRef I2)
           (portRef I (instanceRef I2_i))
          ))
          (net (rename i3 "I3") (joined
           (portRef I3)
           (portRef I (instanceRef I3_i))
          ))
          (net (rename i4 "I4") (joined
           (portRef I4)
           (portRef I (instanceRef I4_i))
          ))
          (net (rename i5 "I5") (joined
           (portRef I5)
           (portRef I (instanceRef I5_i))
          ))
          (net (rename i6 "I6") (joined
           (portRef I6)
           (portRef I (instanceRef I6_i))
          ))
          (net (rename i7 "I7") (joined
           (portRef I7)
           (portRef I (instanceRef I7_i))
          ))
          (net (rename i8 "I8") (joined
           (portRef I8)
           (portRef I (instanceRef I8_i))
          ))
          (net (rename i9 "I9") (joined
           (portRef I9)
           (portRef I (instanceRef I9_i))
          ))
          (net (rename i10 "I10") (joined
           (portRef I10)
           (portRef I (instanceRef I10_i))
          ))
          (net (rename i11 "I11") (joined
           (portRef I11)
           (portRef I (instanceRef I11_i))
          ))
          (net (rename i12 "I12") (joined
           (portRef I12)
           (portRef I (instanceRef I12_i))
          ))
          (net (rename i13 "I13") (joined
           (portRef I13)
           (portRef I (instanceRef I13_i))
          ))
          (net (rename i14 "I14") (joined
           (portRef I14)
           (portRef I (instanceRef I14_i))
          ))
          (net (rename i15 "I15") (joined
           (portRef I15)
           (portRef I (instanceRef I15_i))
          ))
          (net (rename o0 "O0") (joined
           (portRef O (instanceRef I0_i))
           (portRef O0)
          ))
          (net (rename o1 "O1") (joined
           (portRef O (instanceRef I1_i))
           (portRef O1)
          ))
          (net (rename o2 "O2") (joined
           (portRef O (instanceRef I2_i))
           (portRef O2)
          ))
          (net (rename o3 "O3") (joined
           (portRef O (instanceRef I3_i))
           (portRef O3)
          ))
          (net (rename o4 "O4") (joined
           (portRef O (instanceRef I4_i))
           (portRef O4)
          ))
          (net (rename o5 "O5") (joined
           (portRef O (instanceRef I5_i))
           (portRef O5)
          ))
          (net (rename o6 "O6") (joined
           (portRef O (instanceRef I6_i))
           (portRef O6)
          ))
          (net (rename o7 "O7") (joined
           (portRef O (instanceRef I7_i))
           (portRef O7)
          ))
          (net (rename o8 "O8") (joined
           (portRef O (instanceRef I8_i))
           (portRef O8)
          ))
          (net (rename o9 "O9") (joined
           (portRef O (instanceRef I9_i))
           (portRef O9)
          ))
          (net (rename o10 "O10") (joined
           (portRef O (instanceRef I10_i))
           (portRef O10)
          ))
          (net (rename o11 "O11") (joined
           (portRef O (instanceRef I11_i))
           (portRef O11)
          ))
          (net (rename o12 "O12") (joined
           (portRef O (instanceRef I12_i))
           (portRef O12)
          ))
          (net (rename o13 "O13") (joined
           (portRef O (instanceRef I13_i))
           (portRef O13)
          ))
          (net (rename o14 "O14") (joined
           (portRef O (instanceRef I14_i))
           (portRef O14)
          ))
          (net (rename o15 "O15") (joined
           (portRef O (instanceRef I15_i))
           (portRef O15)
          ))
         )
       )
    )
  )
  (design (rename inv16s "INV16S") (cellRef inv16s (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
