(edif (rename ld_1 "LD_1")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 13 59 10)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LD (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port G (direction INPUT)
 )
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename ld_1 "LD_1") (cellType GENERIC)
       (view structure (viewType NETLIST)
         (interface
           (port G (direction INPUT)
 )
           (port D (direction INPUT)
 )
           (port Q (direction OUTPUT))
         )
         (contents
          (instance G_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance Q_inst (viewRef PRIM (cellRef LD (libraryRef UNILIB)))
          )
          (net (rename g "G") (joined
           (portRef G)
           (portRef I (instanceRef G_i))
          ))
          (net (rename d "D") (joined
           (portRef D)
           (portRef D (instanceRef Q_inst))
          ))
          (net (rename q "Q") (joined
           (portRef Q (instanceRef Q_inst))
           (portRef Q)
          ))
          (net (rename G_iZ0 "G_i") (joined
           (portRef O (instanceRef G_i))
           (portRef G (instanceRef Q_inst))
          ))
         )
       )
    )
  )
  (design (rename ld_1 "LD_1") (cellRef ld_1 (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
