(edif (rename m1_s8s1e "M1_S8S1E")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 14 5 45)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell OR2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell AND2B1 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell AND2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename m1_s8s1e "M1_S8S1E") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port S0 (direction INPUT)
 )
           (port S1 (direction INPUT)
 )
           (port S2 (direction INPUT)
 )
           (port E (direction INPUT)
 )
           (port D0 (direction INPUT)
 )
           (port D1 (direction INPUT)
 )
           (port D2 (direction INPUT)
 )
           (port D3 (direction INPUT)
 )
           (port D4 (direction INPUT)
 )
           (port D5 (direction INPUT)
 )
           (port D6 (direction INPUT)
 )
           (port D7 (direction INPUT)
 )
           (port O (direction OUTPUT))
         )
         (contents
          (instance O_8_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance O_7_0 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance O_7_0_b_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance O_7_0_b (viewRef PRIM (cellRef AND2B1 (libraryRef UNILIB)))          )
          (instance O_6_0 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance O_6_0_b_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance O_6_0_b (viewRef PRIM (cellRef AND2B1 (libraryRef UNILIB)))          )
          (instance O_5_0 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance O_5_0_b_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance O_5_0_b (viewRef PRIM (cellRef AND2B1 (libraryRef UNILIB)))          )
          (instance O_4_0 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance O_4_0_b_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance O_4_0_b (viewRef PRIM (cellRef AND2B1 (libraryRef UNILIB)))          )
          (instance O_3_0 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance O_3_0_b_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance O_3_0_b (viewRef PRIM (cellRef AND2B1 (libraryRef UNILIB)))          )
          (instance O_2_0 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance O_2_0_b_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance O_2_0_b (viewRef PRIM (cellRef AND2B1 (libraryRef UNILIB)))          )
          (instance O_1_0 (viewRef PRIM (cellRef OR2 (libraryRef UNILIB)))          )
          (instance O_1_0_b_0 (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance O_1_0_b (viewRef PRIM (cellRef AND2B1 (libraryRef UNILIB)))          )
          (net (rename s0 "S0") (joined
           (portRef S0)
           (portRef I0 (instanceRef O_7_0_b))
           (portRef I0 (instanceRef O_7_0_b_0))
          ))
          (net (rename s1 "S1") (joined
           (portRef S1)
           (portRef I0 (instanceRef O_3_0_b))
           (portRef I0 (instanceRef O_3_0_b_0))
           (portRef I0 (instanceRef O_6_0_b))
           (portRef I0 (instanceRef O_6_0_b_0))
          ))
          (net (rename s2 "S2") (joined
           (portRef S2)
           (portRef I0 (instanceRef O_1_0_b))
           (portRef I0 (instanceRef O_1_0_b_0))
           (portRef I0 (instanceRef O_2_0_b))
           (portRef I0 (instanceRef O_2_0_b_0))
           (portRef I0 (instanceRef O_4_0_b))
           (portRef I0 (instanceRef O_4_0_b_0))
           (portRef I0 (instanceRef O_5_0_b))
           (portRef I0 (instanceRef O_5_0_b_0))
          ))
          (net (rename e "E") (joined
           (portRef E)
           (portRef I0 (instanceRef O_8_0))
          ))
          (net (rename d0 "D0") (joined
           (portRef D0)
           (portRef I1 (instanceRef O_1_0_b))
          ))
          (net (rename d1 "D1") (joined
           (portRef D1)
           (portRef I1 (instanceRef O_4_0_b))
          ))
          (net (rename d2 "D2") (joined
           (portRef D2)
           (portRef I1 (instanceRef O_2_0_b))
          ))
          (net (rename d3 "D3") (joined
           (portRef D3)
           (portRef I1 (instanceRef O_5_0_b))
          ))
          (net (rename d4 "D4") (joined
           (portRef D4)
           (portRef I1 (instanceRef O_1_0_b_0))
          ))
          (net (rename d5 "D5") (joined
           (portRef D5)
           (portRef I1 (instanceRef O_4_0_b_0))
          ))
          (net (rename d6 "D6") (joined
           (portRef D6)
           (portRef I1 (instanceRef O_2_0_b_0))
          ))
          (net (rename d7 "D7") (joined
           (portRef D7)
           (portRef I1 (instanceRef O_5_0_b_0))
          ))
          (net (rename o "O") (joined
           (portRef O (instanceRef O_8_0))
           (portRef O)
          ))
          (net O_7_0_n (joined
           (portRef O (instanceRef O_7_0))
           (portRef I1 (instanceRef O_8_0))
          ))
          (net N_29_a (joined
           (portRef O (instanceRef O_7_0_b))
           (portRef I0 (instanceRef O_7_0))
          ))
          (net N_29_b (joined
           (portRef O (instanceRef O_7_0_b_0))
           (portRef I1 (instanceRef O_7_0))
          ))
          (net O_6_0_n (joined
           (portRef O (instanceRef O_6_0))
           (portRef I1 (instanceRef O_7_0_b_0))
          ))
          (net O_3_0_n (joined
           (portRef O (instanceRef O_3_0))
           (portRef I1 (instanceRef O_7_0_b))
          ))
          (net N_28_a (joined
           (portRef O (instanceRef O_6_0_b))
           (portRef I0 (instanceRef O_6_0))
          ))
          (net N_28_b (joined
           (portRef O (instanceRef O_6_0_b_0))
           (portRef I1 (instanceRef O_6_0))
          ))
          (net O_5_0_n (joined
           (portRef O (instanceRef O_5_0))
           (portRef I1 (instanceRef O_6_0_b_0))
          ))
          (net O_4_0_n (joined
           (portRef O (instanceRef O_4_0))
           (portRef I1 (instanceRef O_6_0_b))
          ))
          (net N_27_a (joined
           (portRef O (instanceRef O_5_0_b))
           (portRef I0 (instanceRef O_5_0))
          ))
          (net N_27_b (joined
           (portRef O (instanceRef O_5_0_b_0))
           (portRef I1 (instanceRef O_5_0))
          ))
          (net N_26_a (joined
           (portRef O (instanceRef O_4_0_b))
           (portRef I0 (instanceRef O_4_0))
          ))
          (net N_26_b (joined
           (portRef O (instanceRef O_4_0_b_0))
           (portRef I1 (instanceRef O_4_0))
          ))
          (net N_25_a (joined
           (portRef O (instanceRef O_3_0_b))
           (portRef I0 (instanceRef O_3_0))
          ))
          (net N_25_b (joined
           (portRef O (instanceRef O_3_0_b_0))
           (portRef I1 (instanceRef O_3_0))
          ))
          (net O_2_0_n (joined
           (portRef O (instanceRef O_2_0))
           (portRef I1 (instanceRef O_3_0_b_0))
          ))
          (net O_1_0_n (joined
           (portRef O (instanceRef O_1_0))
           (portRef I1 (instanceRef O_3_0_b))
          ))
          (net N_24_a (joined
           (portRef O (instanceRef O_2_0_b))
           (portRef I0 (instanceRef O_2_0))
          ))
          (net N_24_b (joined
           (portRef O (instanceRef O_2_0_b_0))
           (portRef I1 (instanceRef O_2_0))
          ))
          (net N_23_a (joined
           (portRef O (instanceRef O_1_0_b))
           (portRef I0 (instanceRef O_1_0))
          ))
          (net N_23_b (joined
           (portRef O (instanceRef O_1_0_b_0))
           (portRef I1 (instanceRef O_1_0))
          ))
         )
       )
    )
  )
  (design (rename m1_s8s1e "M1_S8S1E") (cellRef m1_s8s1e (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
