(edif (rename d4_16es "D4_16ES")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 13 23 29)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell AND2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
    (cell INV (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename d4_16es "D4_16ES") (cellType GENERIC)
       (view behav (viewType NETLIST)
         (interface
           (port E (direction INPUT)
 )
           (port A0 (direction INPUT)
 )
           (port A1 (direction INPUT)
 )
           (port A2 (direction INPUT)
 )
           (port A3 (direction INPUT)
 )
           (port D0 (direction OUTPUT))
           (port D1 (direction OUTPUT))
           (port D2 (direction OUTPUT))
           (port D3 (direction OUTPUT))
           (port D4 (direction OUTPUT))
           (port D5 (direction OUTPUT))
           (port D6 (direction OUTPUT))
           (port D7 (direction OUTPUT))
           (port D8 (direction OUTPUT))
           (port D9 (direction OUTPUT))
           (port D10 (direction OUTPUT))
           (port D11 (direction OUTPUT))
           (port D12 (direction OUTPUT))
           (port D13 (direction OUTPUT))
           (port D14 (direction OUTPUT))
           (port D15 (direction OUTPUT))
         )
         (contents
          (instance (rename d_0_a2_14 "d_0_a2[14]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_13 "d_0_a2[13]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_12 "d_0_a2[12]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_11 "d_0_a2[11]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_10 "d_0_a2[10]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_9 "d_0_a2[9]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_8 "d_0_a2[8]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_7 "d_0_a2[7]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_6 "d_0_a2[6]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_5 "d_0_a2[5]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_4 "d_0_a2[4]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_3 "d_0_a2[3]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_2 "d_0_a2[2]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_1 "d_0_a2[1]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_0 "d_0_a2[0]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_1_0 "d_0_a2_1[0]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_0_9 "d_0_a2_0[9]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_0_1 "d_0_a2_0[1]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_0_8 "d_0_a2_0[8]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_0_2 "d_0_a2_0[2]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_0_4 "d_0_a2_0[4]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_0_0 "d_0_a2_0[0]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_0_6 "d_0_a2_0[6]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_1_1 "d_0_a2_1[1]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_1_8 "d_0_a2_1[8]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance (rename d_0_a2_15 "d_0_a2[15]") (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance A0_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance A1_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance A2_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (instance A3_i (viewRef PRIM (cellRef INV (libraryRef UNILIB)))          )
          (net (rename e "E") (joined
           (portRef E)
           (portRef I1 (instanceRef d_0_a2_1_8))
           (portRef I1 (instanceRef d_0_a2_1_1))
          ))
          (net (rename a0 "A0") (joined
           (portRef A0)
           (portRef I (instanceRef A0_i))
           (portRef I0 (instanceRef d_0_a2_1_1))
          ))
          (net (rename a1 "A1") (joined
           (portRef A1)
           (portRef I (instanceRef A1_i))
           (portRef I0 (instanceRef d_0_a2_0_6))
           (portRef I0 (instanceRef d_0_a2_0_2))
          ))
          (net (rename a2 "A2") (joined
           (portRef A2)
           (portRef I (instanceRef A2_i))
           (portRef I1 (instanceRef d_0_a2_0_6))
           (portRef I1 (instanceRef d_0_a2_0_4))
          ))
          (net (rename a3 "A3") (joined
           (portRef A3)
           (portRef I (instanceRef A3_i))
           (portRef I0 (instanceRef d_0_a2_0_8))
           (portRef I0 (instanceRef d_0_a2_0_9))
          ))
          (net (rename d0 "D0") (joined
           (portRef O (instanceRef d_0_a2_0))
           (portRef D0)
          ))
          (net (rename d1 "D1") (joined
           (portRef O (instanceRef d_0_a2_1))
           (portRef D1)
          ))
          (net (rename d2 "D2") (joined
           (portRef O (instanceRef d_0_a2_2))
           (portRef D2)
          ))
          (net (rename d3 "D3") (joined
           (portRef O (instanceRef d_0_a2_3))
           (portRef D3)
          ))
          (net (rename d4 "D4") (joined
           (portRef O (instanceRef d_0_a2_4))
           (portRef D4)
          ))
          (net (rename d5 "D5") (joined
           (portRef O (instanceRef d_0_a2_5))
           (portRef D5)
          ))
          (net (rename d6 "D6") (joined
           (portRef O (instanceRef d_0_a2_6))
           (portRef D6)
          ))
          (net (rename d7 "D7") (joined
           (portRef O (instanceRef d_0_a2_7))
           (portRef D7)
          ))
          (net (rename d8 "D8") (joined
           (portRef O (instanceRef d_0_a2_8))
           (portRef D8)
          ))
          (net (rename d9 "D9") (joined
           (portRef O (instanceRef d_0_a2_9))
           (portRef D9)
          ))
          (net (rename d10 "D10") (joined
           (portRef O (instanceRef d_0_a2_10))
           (portRef D10)
          ))
          (net (rename d11 "D11") (joined
           (portRef O (instanceRef d_0_a2_11))
           (portRef D11)
          ))
          (net (rename d12 "D12") (joined
           (portRef O (instanceRef d_0_a2_12))
           (portRef D12)
          ))
          (net (rename d13 "D13") (joined
           (portRef O (instanceRef d_0_a2_13))
           (portRef D13)
          ))
          (net (rename d14 "D14") (joined
           (portRef O (instanceRef d_0_a2_14))
           (portRef D14)
          ))
          (net (rename d15 "D15") (joined
           (portRef O (instanceRef d_0_a2_15))
           (portRef D15)
          ))
          (net (rename d_0_a2_0_n_6 "d_0_a2_0_n(6)") (joined
           (portRef O (instanceRef d_0_a2_0_6))
           (portRef I0 (instanceRef d_0_a2_15))
           (portRef I0 (instanceRef d_0_a2_6))
           (portRef I0 (instanceRef d_0_a2_7))
           (portRef I0 (instanceRef d_0_a2_14))
          ))
          (net (rename d_0_a2_0_n_8 "d_0_a2_0_n(8)") (joined
           (portRef O (instanceRef d_0_a2_0_8))
           (portRef I1 (instanceRef d_0_a2_8))
           (portRef I1 (instanceRef d_0_a2_10))
           (portRef I1 (instanceRef d_0_a2_12))
           (portRef I1 (instanceRef d_0_a2_14))
          ))
          (net (rename d_0_a2_0_n_4 "d_0_a2_0_n(4)") (joined
           (portRef O (instanceRef d_0_a2_0_4))
           (portRef I0 (instanceRef d_0_a2_4))
           (portRef I0 (instanceRef d_0_a2_5))
           (portRef I0 (instanceRef d_0_a2_12))
           (portRef I0 (instanceRef d_0_a2_13))
          ))
          (net (rename d_0_a2_0_n_9 "d_0_a2_0_n(9)") (joined
           (portRef O (instanceRef d_0_a2_0_9))
           (portRef I1 (instanceRef d_0_a2_15))
           (portRef I1 (instanceRef d_0_a2_9))
           (portRef I1 (instanceRef d_0_a2_11))
           (portRef I1 (instanceRef d_0_a2_13))
          ))
          (net (rename d_0_a2_0_n_2 "d_0_a2_0_n(2)") (joined
           (portRef O (instanceRef d_0_a2_0_2))
           (portRef I0 (instanceRef d_0_a2_2))
           (portRef I0 (instanceRef d_0_a2_3))
           (portRef I0 (instanceRef d_0_a2_10))
           (portRef I0 (instanceRef d_0_a2_11))
          ))
          (net (rename d_0_a2_0_n_0 "d_0_a2_0_n(0)") (joined
           (portRef O (instanceRef d_0_a2_0_0))
           (portRef I0 (instanceRef d_0_a2_0))
           (portRef I0 (instanceRef d_0_a2_1))
           (portRef I0 (instanceRef d_0_a2_8))
           (portRef I0 (instanceRef d_0_a2_9))
          ))
          (net (rename d_0_a2_0_n_1 "d_0_a2_0_n(1)") (joined
           (portRef O (instanceRef d_0_a2_0_1))
           (portRef I1 (instanceRef d_0_a2_1))
           (portRef I1 (instanceRef d_0_a2_3))
           (portRef I1 (instanceRef d_0_a2_5))
           (portRef I1 (instanceRef d_0_a2_7))
          ))
          (net (rename d_0_a2_1_n_0 "d_0_a2_1_n(0)") (joined
           (portRef O (instanceRef d_0_a2_1_0))
           (portRef I1 (instanceRef d_0_a2_0))
           (portRef I1 (instanceRef d_0_a2_2))
           (portRef I1 (instanceRef d_0_a2_4))
           (portRef I1 (instanceRef d_0_a2_6))
          ))
          (net (rename A3_iZ0 "A3_i") (joined
           (portRef O (instanceRef A3_i))
           (portRef I0 (instanceRef d_0_a2_0_1))
           (portRef I0 (instanceRef d_0_a2_1_0))
          ))
          (net (rename d_0_a2_1_n_8 "d_0_a2_1_n(8)") (joined
           (portRef O (instanceRef d_0_a2_1_8))
           (portRef I1 (instanceRef d_0_a2_0_8))
           (portRef I1 (instanceRef d_0_a2_1_0))
          ))
          (net (rename d_0_a2_1_n_1 "d_0_a2_1_n(1)") (joined
           (portRef O (instanceRef d_0_a2_1_1))
           (portRef I1 (instanceRef d_0_a2_0_1))
           (portRef I1 (instanceRef d_0_a2_0_9))
          ))
          (net (rename A2_iZ0 "A2_i") (joined
           (portRef O (instanceRef A2_i))
           (portRef I1 (instanceRef d_0_a2_0_0))
           (portRef I1 (instanceRef d_0_a2_0_2))
          ))
          (net (rename A1_iZ0 "A1_i") (joined
           (portRef O (instanceRef A1_i))
           (portRef I0 (instanceRef d_0_a2_0_0))
           (portRef I0 (instanceRef d_0_a2_0_4))
          ))
          (net (rename A0_iZ0 "A0_i") (joined
           (portRef O (instanceRef A0_i))
           (portRef I0 (instanceRef d_0_a2_1_8))
          ))
         )
       )
    )
  )
  (design (rename d4_16es "D4_16ES") (cellRef d4_16es (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
