(edif (rename ldce "LDCE")
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timeStamp 2003 11 29 13 57 51)
      (author "Synplicity, Inc.")
      (program "Synplify" (version "7.3.3, Build 024R"))
     )
   )
  (library UNILIB
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell LDC (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port Q (direction OUTPUT))
           (port D (direction INPUT))
           (port G (direction INPUT)
 )
           (port CLR (direction INPUT))
         )
       )
    )
    (cell AND2 (cellType GENERIC)
       (view PRIM (viewType NETLIST)
         (interface
           (port I0 (direction INPUT))
           (port I1 (direction INPUT))
           (port O (direction OUTPUT))
         )
       )
    )
  )
  (library work
    (edifLevel 0)
    (technology (numberDefinition ))
    (cell (rename ldce "LDCE") (cellType GENERIC)
       (view structure (viewType NETLIST)
         (interface
           (port CLR (direction INPUT)
 )
           (port GE (direction INPUT)
 )
           (port G (direction INPUT)
 )
           (port D (direction INPUT)
 )
           (port Q (direction OUTPUT))
         )
         (contents
          (instance un3_q (viewRef PRIM (cellRef AND2 (libraryRef UNILIB)))          )
          (instance Q_inst (viewRef PRIM (cellRef LDC (libraryRef UNILIB)))
          )
          (net (rename clr "CLR") (joined
           (portRef CLR)
           (portRef CLR (instanceRef Q_inst))
          ))
          (net (rename ge "GE") (joined
           (portRef GE)
           (portRef I1 (instanceRef un3_q))
          ))
          (net (rename g "G") (joined
           (portRef G)
           (portRef I0 (instanceRef un3_q))
          ))
          (net (rename d "D") (joined
           (portRef D)
           (portRef D (instanceRef Q_inst))
          ))
          (net (rename q "Q") (joined
           (portRef Q (instanceRef Q_inst))
           (portRef Q)
          ))
          (net un3_q_n (joined
           (portRef O (instanceRef un3_q))
           (portRef G (instanceRef Q_inst))
          ))
         )
       )
    )
  )
  (design (rename ldce "LDCE") (cellRef ldce (libraryRef work))
	(property PART (string "xcr3032xl-5-vq44") (owner "Xilinx")))
)
